* {
  /* background-color: black; */
}

/* Custom CSS Classes */
.textColor {
  color: #11845B !important;
}

.ml-10px {
  margin-left: 10px !important;
}

.p-all-5px {
  padding: 5px !important;
}

.mr-10px {
  margin-right: 10px;
}

.mt-10px {
  margin-top: 10px;

}

.text-overflown {
  text-overflow: ellipsis;
  overflow: hidden;
}

.align-vertical {
  align-items: center;
  display: flex;

}

/* ::-webkit-scrollbar{
  width: 5px;
}
::-webkit-scrollbar-thumb{
  background-color: red;
}
::-webkit-scrollbar-track{
  background-color: white;
} */

.logoimage {
  width: 150px;
  position: relative;
  top: -50px;
}

.Auth-Modal {
  text-align: center;
  color: white !important;

}

.Auth-Modal h2 {
  color: white !important;
  font-weight: 600;
}

.Auth-Modal h6 {
  color: white !important;
  font-size: 13px;
}

.form-fields {
  display: flex;
  flex-direction: column;
  text-align: left;
  margin-top: 10px;
}

.form-fields label {
  font-weight: 300px;
}

.form-fields input {
  background-color: #282c34;
  padding: 10px;
}

.forgotpass-section {
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
}

.forgotpass-section>div {
  display: flex;
  align-items: center;
}

.forgotpass-section>div input {
  margin-right: 10px;
}

input[type=checkbox]:not(:checked) {
  height: 15px;
  width: 15px;
  border: 2px solid #11845B;
  -webkit-appearance: none;
}

input[type=checkbox]:checked {
  accent-color: #11845B;
  height: 15px;
  width: 15px;
  /* border: 1px solid green; */
}

.forgotpass-section a h6 {
  color: #11845B !important;
}

.Register-Login-Btn {
  color: #11845B !important;
  font-weight: 900 !important;
  border: 3px solid white !important;
  width: 100%;
  margin-top: 20px !important;
}


/* SigninPage */
.create-account {
  color: #11845B !important;

}


/* Sidebar-mainContainer */
.Sidebar-mainContainer {
  background-color: black;
  padding: 10px;
  position: sticky;
  top: 0px;
  overflow-y: scroll;
}

.sidebar-logo {
  width: 150px;
}

.sidebar-auth-btn {
  border: 1px solid #11845B !important;
  margin-top: 10px !important;
  width: 200px !important;
  color: white !important;
  display: flex !important;
  justify-content: space-between !important;
}

/* sidebar-card */
.sidebar-card-mainCont {
  color: white;
  border: 1px solid white;
  margin-top: 10px;
  margin-bottom: 50px;
}

.profileimage {
  display: flex;
  justify-content: center;
}

.profileimage div {
  width: 70px !important;
  height: 70px !important;
}

.profileText {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.profile-btn {
  border: 1px solid white !important;
  margin: 10px !important;
}

.text-styling {
  font-size: 14px !important;
}

.Connected-Wallet {
  margin-top: 20px !important;
}

/* SideBar-filtersection */
.SideBar-filtersection-div {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  color: white;
}

.SideBar-filtersection {
  color: white;
  border: 2px solid white;
  text-align: left;
  padding-left: 10px;
}


/* navbar */

.navlinks-icons {
  background-color: hsl(168deg 16% 6%);
  justify-content: space-between;
  padding: 5px 20px;
}

.Navbar-account-circle svg {
  font-size: 40px !important;
}

.divider {
  background-color: white !important;
  margin: 15px 5px !important;
}

/* Home */
.Home-MainContainer {
  display: flex;
}

.home-searchbar {
  display: flex;
  align-items: center;
  border: 1px solid gray;
  background-color: hsl(163deg 28% 5%);
  color: white;
  padding: 10px;
  border-radius: 10px;

}

.home-searchbar svg {
  color: white;
  margin-right: 5px;
}

.home-searchbar input {
  background-color: hsl(163deg 28% 5%);
  border: none;
  width: 100%;
}

.home-searchbar input:focus {
  border: none;
  outline: none;
}

.balancedetails-text {
  font-size: 30px;
  font-weight: 800;
  color: white;
}

.balancedetails-text span {
  color: hsl(152deg 95% 39%);

}
.balance-Assets{
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: hsl(160deg 36% 5%);
  color: white;
  padding: 10px;
}
.balance-Assets >svg{
  font-size: 60px !important; 
}
.balance-Assets div p{
  font-size: 20px;
}
.balance-Assets div p span{
  color: hsl(152deg 95% 39%);
  margin-right: 5px;
  font-weight: 600;
  font-size: 22px;

}
.collection-section{
  display: flex;
  /* flex-direction: column; */
  align-items: center;
  justify-content: space-between;
}
.collection-section p{
  /* flex:1; */
  color: white;
  font-size: 30px;
  font-weight: 800;
}
.collection-section p span{
  margin-right: 5px;
}
.collection-section >div{
  /* flex:2; */
  color: white;
  display: flex;
  flex-direction: row;
  align-items: center;
}
.collection-section-buttons{
  color: #11845B !important;
  font-weight: 900 !important;
  border: 3px solid white !important;
  margin-right: 10px !important;
}
.collection-section-buttons span{
  color: white !important;
  margin-left: 5px !important;
}
.collection-sections-icons{
  background-color: #11845B !important;
  /* margin-right: 5px !important; */
  color: white !important;
  padding: 1px !important;
  margin-right: 5px !important;
  min-width: 10px !important; 
}
.collection-sections-icons:disabled{
  opacity: 0.3 !important;
}
.collection-sections-icons svg{
  padding: 0 !important;
  margin: 0 !important;
}
/* Cards */

.card-top-section{
  display: flex;
  justify-content: space-between;
  margin: 5px;
}
.card-top-section svg{
  background-color:#282c34;
  border-radius: 50%;
  margin-top: 5px;
  opacity: 0.65;
  color: white !important;
  padding: 3px;
}
.card-top-section p{
  background-color:#282c34;
  margin-top: 5px;
  border-radius: 5px;
  opacity: 0.65;
  color: white !important;
  padding: 3px;
}
.minting{
  background-color: #fc656f !important;
  display: flex;
  font-size: 14px !important;
  justify-content: space-between;
  margin: 5px 0px !important;
  padding: 3px 5px!important;
  border-radius: 5px;
  color: #db1212 !important;
  /* filter: brightness(100%); */

  opacity: 0.8 !important;
  /* background: rgba(255, 255, 255, 0.2); // Make sure this color has an opacity of less than 1 */
  backdrop-filter: blur(70px) !important;
  font-weight: 900 !important;
}
.Btns-Div{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.detail-sell-btns{
  width: 100px !important;
}
.detail-sell-btns :nth-child(1){
  background-color: #282c34 !important;
  color: white !important;
}


/* .Home-SubContainer-1
{
  flex: 0 0 20%;
}
.Home-SubContainer-2
{
  flex: 0 0 80%;
} */



.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}



#components-layout-demo-custom-trigger .trigger {
  padding: 0 24px;
  font-size: 18px;
  line-height: 64px;
  cursor: pointer;
  transition: color 0.3s;
}

#components-layout-demo-custom-trigger .trigger:hover {
  color: #1890ff;
}

#components-layout-demo-custom-trigger .logo {
  height: 32px;
  margin: 16px;
  background: rgba(255, 255, 255, 0.3);
}

.site-layout .site-layout-background {
  background: #fff;
}

.cards-div {

  display: flex !important;
  justify-content: center;
  margin-top: 10px;
  /* justify-content:space-evenly !important;
  flex-wrap: wrap !important; */
}