* {
  /* background-color: black; */
}

/* Custom CSS Classes */
.textColor {
  color: #11845B !important;
}

.ml-10px {
  margin-left: 10px !important;
}

.p-all-5px {
  padding: 5px !important;
}

.mr-10px {
  margin-right: 10px;
}

.mt-10px {
  margin-top: 10px;

}

.text-overflown {
  text-overflow: ellipsis;
  overflow: hidden;
}

.align-vertical {
  align-items: center;
  display: flex;

}

::-webkit-scrollbar {
  width: 2px;
}

::-webkit-scrollbar-thumb {
  background-color: white;
}

::-webkit-scrollbar-track {
  background-color: #061d13;
}

.logoimage {
  width: 150px;
  position: relative;
  top: -50px;
}

.auth-btns {
  color: #11845B !important;
  margin-right: 10px !important;
  font-weight: 600 !important;
}

/* .auth-icons{
  color: black !important;
  margin:  0px 8px !important;
} */
.Auth-Modal {
  text-align: center;
  color: white !important;

}

.Auth-Modal h2 {
  color: white !important;
  font-weight: 600;
}

.Auth-Modal h6 {
  color: white !important;
  font-size: 13px;
}

.form-fields {
  display: flex;
  flex-direction: column;
  text-align: left;
  margin-top: 10px;
}

.form-fields label {
  font-weight: 300px;
}

.form-fields input {
  background-color: #282c34;
  padding: 10px;
}

.forgotpass-section {
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
}

.forgotpass-section>div {
  display: flex;
  align-items: center;
}

.forgotpass-section>div input {
  margin-right: 10px;
}

input[type=checkbox]:not(:checked) {
  height: 15px;
  width: 15px;
  border: 2px solid #11845B;
  -webkit-appearance: none;
}

input[type=checkbox]:checked {
  accent-color: #11845B;
  height: 15px;
  width: 15px;
  /* border: 1px solid green; */
}

.forgotpass-section a h6 {
  color: #11845B !important;
}

.Register-Login-Btn {
  color: #11845B !important;
  font-weight: 900 !important;
  border: 3px solid white !important;
  width: 100%;
  margin-top: 20px !important;
}


/* Modal Card */

.modal-Card-Img {
  /* width: 250px ;
  height: 250px; */
  height: 100% !important;
}

.image-Div {
  /* height: 100%; */
  flex: 1 !important;
}

.details-div {
  flex: 2;
}

.modal-collections-details {
  display: flex;

}

.RTFKT-Text {
  color: #11845B;
  font-weight: 900;
  font-size: 20px;
  margin: 0;
  padding: 0;
}

.Allien-text-icon {
  color: white;
  font-size: 22px;
  font-weight: 700;
}

.Allien-text-icon>p {
  margin: 0;

}

.Sale-text {
  font-size: 12px;
  border-radius: 5px;
  background-color: #1b0c0b;
  color: #de3b2d;
  font-weight: 900;
  padding: 5px;
  text-align: center;
  margin: 0;

}

.minted-out-of {
  color: #11845B;
  font-size: 20px;
  font-weight: 700;
  margin: 0;
}

.minted-out-of span {
  font-size: 14px !important;
}

.wallet-details-Maindiv {
  margin-left: 30px;
  flex: 1;
}

.wallet-details-div {
  display: flex;
  font-size: 11px;
  color: #11845B;
  margin-left: 10px;
  align-items: baseline;
  justify-content: space-between;
}

.see-more-btn {
  color: #11845B !important;
  font-size: 11px !important;
}

.productDetails {
  color: #11845B !important;
  /* background: rgb(0,0,0); */
  padding: 5px;
  background: linear-gradient(90deg, rgba(0, 0, 0, 1) 0%, rgba(13, 12, 12, 1) 50%, rgba(0, 0, 0, 1) 100%);
}

.productDetails div {
  display: flex;
  justify-content: space-between;

}

.productDetails div p {
  margin: 0;
}

.quantity-btn-div {
  display: flex;
  justify-content: center;
}

.quantity-btn-div>span {
  flex: 11;
  text-align: center;
  color: #05c168;
  font-weight: 900;
  background-color: #05190e;
  font-size: 20px;
}

.quantity-btn {
  background-color: #05c168 !important;
  font-size: 25px !important;
  height: 30px;
  color: black !important;
  font-weight: 600 !important;
  flex: 1;
}

.GAS-FEE-Text {
  color: #05c168;
  text-align: center;
  font-size: 16px;
  font-weight: 900;
  /* margin: 0; */
}

.GAS-FEE-Text span {
  display: block;
}

.MintNow-btn-Div button {
  background-color: #05c168 !important;
  width: 100% !important;
  color: #0f172d !important;
  font-weight: 900 !important;
}

/* SigninPage */
.create-account {
  color: #11845B !important;

}


/* Sidebar-mainContainer */
.Sidebar-mainContainer {
  background-color: black;
  padding: 10px;
  position: sticky;
  top: 0px;
  overflow-y: scroll;
  height: 100vh;
  flex: 1;
  /* width: 100% !important; */
  width: 250px;
  z-index: 1;
}

.sidebar-logo {
  width: 150px;
}

.sidebar-auth-btn {
  border: 1px solid #11845B !important;
  margin-top: 10px !important;
  width: 200px !important;
  color: white !important;
  display: flex !important;
  justify-content: space-between !important;
}

/* sidebar-card */
.sidebar-card-mainCont {
  color: white;
  border: 1px solid white;
  margin-top: 10px;
  margin-bottom: 50px;
}

.profileimage {
  display: flex;
  justify-content: center;
}

.profileimage div {
  width: 70px !important;
  height: 70px !important;
}

.profileText {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.profile-btn {
  border: 1px solid white !important;
  margin: 10px !important;
}

.text-styling {
  font-size: 14px !important;
}

.Connected-Wallet {
  margin-top: 20px !important;
}

/* SideBar-filtersection */
.SideBar-filtersection-div {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  color: white;
}

.SideBar-filtersection {
  color: white;
  border: 2px solid white;
  text-align: left;
  padding-left: 10px;
}


/* navbar */

.navlinks-icons {
  background-color: hsl(168deg 16% 6%);
  justify-content: space-between;
  padding: 5px 22px;
  margin-right: 10px !important;
}

.navlinksMobile-icons {
  margin: 10px !important;
  align-items: center !important;

}

.navlinksMobile-icons:hover {
  background-color: hsl(168deg 16% 6%);
  color: white;
  padding: 2px;
  border-radius: 5px;
  cursor: pointer;
}

.navlinksMobile-icons span {
  margin-right: 10px;
}

.Navbar-account-circle svg {
  font-size: 40px !important;
}

.divider {
  background-color: white !important;
  margin: 15px 5px !important;
}

/* Home */
.hidesidebar {
  display: none;
}

.showsidebar {
  /* display: flex; */
  /* z-index: 1; */
}

@media only screen and (max-width: 500px) {
  .Btns-Div {
    flex-direction: column !important;
  }

  .Btns-Div button {
    width: 100% !important;
    margin-bottom: 10px !important;
  }

  .card-item-specification {
    flex-direction: column !important;
  }

  .card-item-specification div {
    /* text-align: center !important; */
    display: flex;
    justify-content: space-between;
  }
}

@media only screen and (max-width: 400px) {
  .SidebarSections-Contaniner {
    z-index: 1;
  }

  .MiddleSections-Contaniner {
    /* position: relative;
    left: -150px; */
  }
}

@media only screen and (max-width: 550px) {
  .SidebarSections-Contaniner {
    width: 20px !important;
  }




}

.HomeMainContainer {
  background-color: black !important;
  /* display: flex; */
  padding-right: 15px;

}

.MiddleSections-Contaniner {
  margin-left: 15px;
  background-color: black !important;
  /* width: 70%; */
  flex: 3;
}

.SidebarSections-Contaniner {
  /* z-index: 1; */
}

.showMiddleSection {
  margin-left: 15px;



}

.home-searchbar {
  display: flex;
  align-items: center;
  border: 1px solid gray;
  background-color: hsl(163deg 28% 5%);
  color: white;
  padding: 10px;
  border-radius: 10px;
  width: 100% !important;

}

.home-searchbar svg {
  color: white;
  margin-right: 5px;
}

.home-searchbar input {
  background-color: hsl(163deg 28% 5%);
  border: none;
  width: 100%;
}

.home-searchbar input:focus {
  border: none;
  outline: none;
}

.balancedetails-text {
  font-size: 30px;
  font-weight: 800;
  color: white;
  text-align: left;
}

.balancedetails-text span {
  color: hsl(152deg 95% 39%);

}

.path-text {
  color: white;
  display: flex;
  font-size: 18px;
  font-weight: 600;
}

.path-text svg {
  color: #11845B !important;
  font-size: 30px !important;

}

.balance-Assets {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: hsl(160deg 36% 5%);
  color: white;
  padding: 10px;
}

.balance-Assets>svg {
  font-size: 60px !important;
}

.balance-Assets div p {
  font-size: 20px;
}

.balance-Assets div p span {
  color: hsl(152deg 95% 39%);
  margin-right: 5px;
  font-weight: 600;
  font-size: 22px;

}

.collection-section {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

@media only screen and (max-width: 900px) {
  .collection-section {
    display: block;
  }

  .collection-section p {
    text-align: left;
  }

  .collection-section-btns {
    justify-content: right;
  }

  .Modal-Main-Div {
    flex-direction: column !important;
    width: 320px !important;
  }

  .modal-collections-details {
    flex-direction: column !important;
  }

  .modal-Card-Img {
    width: 100%;
    height: 200px !important;

  }

}

@media only screen and (max-width: 970px) {
  .Btns-Div {
    flex-direction: column !important;
  }

  .Btns-Div button {

    width: 100% !important;
    margin-bottom: 10px !important;
  }
}

@media only screen and (max-width: 700px) {

  .collection-section-btns {
    flex-direction: column !important;
  }

  .collection-section-btns * {
    margin-bottom: 10px !important;
  }

  .collection-section-btns>button {
    width: 200px;
  }
}

.collection-section p {
  /* flex:1; */
  color: white;
  font-size: 30px;
  font-weight: 800;
}

.collection-section p span {
  margin-right: 5px;
}

.collection-section>div {
  /* flex:2; */
  color: white;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.collection-section-buttons {
  color: #11845B !important;
  font-weight: 900 !important;
  border: 3px solid white !important;
  margin-right: 10px !important;
}

.collection-section-buttons span {
  color: white !important;
  margin-left: 5px !important;
}

.collection-sections-icons {
  background-color: #11845B !important;
  /* margin-right: 5px !important; */
  color: white !important;
  padding: 1px !important;
  margin-right: 5px !important;
  min-width: 10px !important;
}

.collection-sections-icons:disabled {
  opacity: 0.3 !important;
}

.collection-sections-icons svg {
  padding: 0 !important;
  margin: 0 !important;
}

/* Cards */


.CardMain-Container {
  background-color: black !important;
  padding: 2px 5px !important;
  border: 1px solid #11845B !important;
  border-radius: 8px !important;
}

.card-image {
  -webkit-box-shadow: 0 0 5px 2px grey;
  -moz-box-shadow: 0 0 5px 2px grey;
  box-shadow: 0 0 5px 2px grey;
}

.card-top-section {
  display: flex;
  justify-content: space-between;
  margin: 5px;
}

.card-top-section svg {
  background-color: #282c34;
  border-radius: 50%;
  margin-top: 5px;
  opacity: 0.65;
  color: white !important;
  padding: 3px;
}

.card-top-section p {
  background-color: #282c34;
  margin-top: 5px;
  border-radius: 5px;
  opacity: 0.65;
  color: white !important;
  padding: 3px;
}

.minting {

  display: flex;
  font-size: 14px !important;
  justify-content: space-between;
  margin: 5px 0px !important;
  padding: 3px 5px !important;
  border-radius: 5px;
  background-color: #1b0c0b !important;

  font-weight: 900 !important;
}

.minting>p {
  color: #de3b2d !important;
  /* opacity: 1 !important; */
  margin: 5px 10px;

}

.Btns-Div {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.detail-sell-btns {
  width: 100px !important;
  font-size: 15px !important;
}

.detail-btn {
  background-color: #282c34 !important;
  color: white !important;
  font-weight: 600 !important;
}

.sell-btn {
  background-color: #061d13 !important;
  color: #11845B !important;
  font-weight: 600 !important;

}

.card-item-specification {
  display: flex;
  justify-content: space-between;
}

.card-item-specification div:first-child {
  text-align: left;
}

.card-item-specification div:last-child {
  text-align: right;
}

.card-item-specification div p:first-child {
  color: #758089;
  font-weight: 600;

}

.card-item-specification div p:last-child {
  color: #11845B;
  font-weight: 900;
}


/* .Home-SubContainer-1
{
  flex: 0 0 20%;
}
.Home-SubContainer-2
{
  flex: 0 0 80%;
} */



.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}



#components-layout-demo-custom-trigger .trigger {
  padding: 0 24px;
  font-size: 18px;
  line-height: 64px;
  cursor: pointer;
  transition: color 0.3s;
}

#components-layout-demo-custom-trigger .trigger:hover {
  color: #1890ff;
}

#components-layout-demo-custom-trigger .logo {
  height: 32px;
  margin: 16px;
  background: rgba(255, 255, 255, 0.3);
}

.site-layout .site-layout-background {
  background: #fff;
}

.cards-div {

  display: flex !important;
  justify-content: center;
  margin-top: 10px;
  /* justify-content:space-evenly !important;
  flex-wrap: wrap !important; */
}